
body{
    color: #40514e;
    margin: 0px;
    background-color: rgb(248, 247, 247);
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    font-size: 5.500rem;  /* ----> tamanho relativo, a cada 1em ----> 100% ----> 16px */
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:#66BFBF ;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

h3{
    color:#11999E;
}
a{
    color: #11999E;
}

p{
    line-height: 2;
}
.top{
    position: relative;
    padding-top: 50px;
}

.presentation{

    width: 70%;
    margin: auto;
}
.greetings{
    margin-top: 0px;
    margin-bottom: 0px;
}

.myimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.english{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-row2{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: right;
    line-height: 2;
}
/*colocar ambas as imagens na lateral*/
.profile{
    width: 60%;
    margin: 100px auto 50px auto;
    text-align: center;
    line-height: 2;
}
.imgcomputer{
    width: 100px;
    height: 100px;
    left: 100px;
}

.img-web{
    width: 15%;
}

.ideia{
    width: 25%;
    float: right;
    margin-right: 30px;
    margin-left: 30px;
   
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
    
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    
}


hr {

    background-color: transparent;
    border-style: none;
    border-top: dotted;
    border-color: #d2e4e4 ;
    border-width: 5px;
    height: 0px;
    width: 5%;
    margin-bottom: 50px;
}


.top{
    background-color: #E4F9F5;
}

.contact-me{
    margin-top: 50px;
    margin-bottom: 40px;
}

.contact{
    margin-bottom: 20px;
}

.message{
    margin-bottom: 50px;
    margin-top: 50px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.phrase{
    margin: auto auto 50px auto;
    width: 30%;
   
}


/*  ------------------ rodapé --------------------------*/
.bottom-container{
    
    background-color: #66bfbf;
    padding: 50px 0 20px;
    
}

.footer-link{
    color: #11999e;
    padding-left: 30px ;
    padding-right: 30px;
}

a{
    text-decoration: none;
}
a:hover{
    color: #eaf6f6;
}
.rights{
    
    font-size: 0.75rem;
    color: #eaf6f6;
    padding: 20px 0;
}